<div class="version">
  Created by hallowatcher | Version {{version$ | async}}
</div>
<div class="container">
  <div class="login-box">
    <div class="spinner" *ngIf="loggingIn$ | async">
      <mat-progress-spinner
        class="example-margin"
        color="primary"
        mode="indeterminate">
      </mat-progress-spinner>
    </div>

    <form [formGroup]="loginForm" *ngIf="!(loggingIn$ | async)" class="login-form">
      <img class="logo" alt="logo" src="assets/logo.png" />

      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" formControlName="username" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>IRC Password</mat-label>
        <input matInput type="password" formControlName="password" required>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="login()" [disabled]="!loginForm.controls.username.valid || !loginForm.controls.password.valid">Login</button>

      <mat-checkbox [checked]="rememberCredentials$ | async" (change)="changeRememberCredentials($event.checked)" class="remember-credentials" color="primary">
        Remember credentials
      </mat-checkbox>

      <div class="irc-help-container">
        <span class="irc-help">Get your IRC password <a href="#" class="link" (click)="openIrcPage($event)">HERE!</a></span>
      </div>
    </form>
  </div>
</div>
