virtual-scroller {
  display: block;
  width: 100%;
  height: calc(100vh - 40px);
  word-break: break-word;
}

.user-bar {
  width: 100%;
  height: 100%;
  width: 175px;
  color: white;
  padding: 5px;
  background-color: rgb(56, 56, 92);

  .title {
    font-size: 0.8rem;
    font-weight: 400;

    &.actions {
      cursor: pointer;
    }
  }

  .lobby-name {
    font-weight: 800;
  }

  .user {
    font-size: 0.8rem;
    color: rgb(184, 184, 184);
  }

  .name {
    color: white;
    padding: 0 2px;
    border-radius: 2px;
  }

  .red {
    background-color: rgb(255, 0, 0);
  }

  .blue {
    background-color: rgb(47, 47, 255);
  }
}
